<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<!-- <style type="text/css">
		.hide {
			display: none;
		}
	</style> -->
</head>
<body>

<header>Flashcards on Cat Care</header>	

<ul>
	<li><a href="/">Home</a></li>
	<!-- <li><a href="/front.html">Home</a></li> -->
	<li><a href="/show-flashcard">Show Flashcard Set</a></li>
	<li><a href="/flashcard" target="_blank">Flashcard API</a></li>

</ul>

<!-- for the project, no need to set it to random, 
but show the front first, on click on questionDiv, show back/answer -->

<h3>Click on a question to view term individually</h3>
<div id="flashcardMain"><a href="/flashcard" target="_blank"></a>
<table>
	<tr>
		<th>Question</th>
		<th>Answer</th>
	</tr>

	<% for (var i=0; i<flashcard.length; i++) { %>
	<tr>	
		<td><a id="question" href="/front.html"><span><%= flashcard[i].question %></span></a></td>
		<td><span><%= flashcard[i].answer %></span></td>	
	</tr>
	<% } %>
	
</table>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- <script>
	$('.questionDiv').on('click', function(){
		$(this).siblings().eq(0).removeClass('hide');
	});
</script> -->

<!-- <script>
	$('.question').on('click', function(){
		$(this).display(;
	});
</script> -->

</body>
</html>